* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    user-select: none;
}

:root {
    --fds-black-alpha-05: rgba(0, 0, 0, 0.05);
    --fds-black-alpha-10: rgba(0, 0, 0, 0.1);
    --fds-black-alpha-15: rgba(0, 0, 0, 0.15);
    --fds-black-alpha-20: rgba(0, 0, 0, 0.2);
    --fds-black-alpha-30: rgba(0, 0, 0, 0.3);
    --fds-black-alpha-40: rgba(0, 0, 0, 0.4);
    --fds-black-alpha-50: rgba(0, 0, 0, 0.5);
    --fds-black-alpha-60: rgba(0, 0, 0, 0.6);
    --fds-black-alpha-80: rgba(0, 0, 0, 0.8);
    --fds-blue-05: #ecf3ff;
    --fds-blue-30: #aac9ff;
    --fds-blue-40: #77a7ff;
    --fds-blue-60: #1877f2;
    --fds-blue-70: #2851a3;
    --fds-blue-80: #1d3c78;
    --fds-button-text: #444950;
    --fds-comment-background: #f2f3f5;
    --fds-gray-00: #f5f6f7;
    --fds-gray-05: #f2f3f5;
    --fds-gray-10: #ebedf0;
    --fds-gray-20: #dadde1;
    --fds-gray-25: #ccd0d5;
    --fds-gray-30: #bec3c9;
    --fds-gray-45: #8d949e;
    --fds-gray-70: #606770;
    --fds-gray-80: #444950;
    --fds-gray-90: #303338;
    --fds-gray-100: #1c1e21;
    --fds-green-55: #00a400;
    --fds-highlight-cell-background: #ecf3ff;
    --fds-primary-icon: #1c1e21;
    --fds-primary-text: #1c1e21;
    --fds-red-55: #fa383e;
    --fds-soft: cubic-bezier(0.08, 0.52, 0.52, 1);
    --fds-spectrum-aluminum-tint-70: #e4f0f6;
    --fds-spectrum-blue-gray-tint-70: #cfd1d5;
    --fds-spectrum-cherry: #f35369;
    --fds-spectrum-lime: #a3ce71;
    --fds-spectrum-seafoam-tint-70: #caeef9;
    --fds-spectrum-slate-dark-2: #89a1ac;
    --fds-spectrum-slate-tint-70: #eaeff2;
    --fds-spectrum-teal: #6bcebb;
    --fds-spectrum-teal-dark-1: #4dbba6;
    --fds-spectrum-teal-dark-2: #31a38d;
    --fds-spectrum-teal-tint-70: #d2f0ea;
    --fds-spectrum-teal-tint-90: #f0faf8;
    --fds-spectrum-tomato: #fb724b;
    --fds-spectrum-tomato-tint-30: #f38e7b;
    --fds-spectrum-tomato-tint-90: #fdefed;
    --always-white: #ffffff;
    --always-black: black;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #f33155;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #7ace4c;
    --bs-teal: #20c997;
    --bs-cyan: #4fc3f7;
    --bs-white: #fff;
    --bs-gray: #8898aa;
    --bs-gray-dark: #313131;
    --bs-primary: #707cd2;
    --bs-secondary: #8898aa;
    --bs-success: #7ace4c;
    --bs-info: #2cabe3;
    --bs-warning: #ffc36d;
    --bs-danger: #f33155;
    --bs-light: #f7fafc;
    --bs-dark: #313131;
    --bs-cyan: #4fc3f7;
    --bs-orange: #ffc36d;
    --bs-purple: #707cd2;
    --bs-inverse: #4c5667;
}


header {
    margin-top: 2rem;
    width: 100%;
}


.dropbtn2,
.dropbtn3,
.dropbtn4 {
    color: black;
    padding: 16px;
    font-size: 1.1rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.dropbtn2:hover {
    background-color: rgb(24, 206, 167);
}
.dropdown1 .fa-user {
    display: block;
    padding-right: 5px;
    color: rgb(24, 206, 167);
}
.dropbtn1 {
    font-weight: bold;
    color: black;
}

.dropdown-content2,
.dropdown-content3,
.dropdown-content4 {
    user-select: none;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    min-width: 300px;
    max-width: 300px;
    z-index: 1;
    padding: 1rem;
    background-color: white;
    color: black;
    font-size: 1.1rem;
    border-radius: 6px;
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    width: 100%;
}

.dropdown-content1 a,
.dropdown-content2 a,
.dropdown-content3 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown-content1 a:hover,
.dropdown-content2 a:hover,
.dropdown-content3 a:hover,
.dropdown-content4 a:hover {
    background-color: rgb(24, 206, 167);
    border-radius: 6px;
}

.show {
    visibility: hidden;
}
/*!--------------------!*/
/* Alkalmazott menu vége*/
header {
    grid-area: "header";
}
article {
    grid-area: content;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

}
.container {
    grid-area: "c";
}
body {

    border-radius: 16px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 2rem;
    width: 95vw;
    overflow: scroll;
    margin: auto;
    margin-top: 6rem;
    background-color: var(--fds-gray-05);
    border: 1px solid white;
   
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
.managerinfo {
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    top: 0.5em;
    left: 2.5%;
    position: absolute;
    z-index: 500;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
   
    width: 95%;
    border-radius: 10px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    gap: 1rem;
  
}

.managerinfo .logo {
    width:40%!important;
    padding: 0;
  }  


.managerinfo img {
    padding: 0.5rem;
    width: 60px;
    height: 100%;
    border-radius: 50px;
    margin: auto;
}
.umanagerinfo-leftgrid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
    height: 100%;
    border-right: 1px solid var(--fds-gray-20);
    width: fit-content;
}
.managerinfo-rightgrid {
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
   
}
.fa-home {
    color: var(--bs-info);
}
.navbar div{
    width: 50px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.navbar span {
    color: black;
    background-color: var(--always-white);
    display: inline-block;
   
    font-weight: 450;
    font-size: 1rem;
    height: 100%;
}
.admin {
    padding: 1rem;
}

.profiladatok span {
    color: var(--bs-blue);
   
}
.darkmode-user span {
    color: var(--fds-primary-text);
    
}

.passchange span {
    color: var(--bs-indigo);
   
}
.navbar span {
    color: black;
    background-color: var(--always-white);
    display: inline-block;
    font-weight: 450;
  
}


.navbar .fa-user {
    color: var(--bs-blue);
}
.navbar .fa-eye {
    color: var(--fds-green-55);
}
.navbar .fa-user-lock {
    color: var(--bs-indigo);
}


.navbar {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

header nav a {
   
    margin-left: 1rem;
    cursor: pointer;
}

.openbtn {
    display: grid;
    grid-template-columns: repeat(3,auto);
    align-items: center;
    gap:1rem;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 350;
}
.openbtn .arrow{
    font-size: smaller;
    color:var(--fds-button-text);
}
.sidenav-container{
    display: grid;
    grid-template-columns: auto;
    margin-left: auto;
    

}

.sidenav {
    width: 350px;
    display: none;
    cursor: pointer;
    position: absolute;
    top:4.5em;
    right: 2.5%;
    border-radius: 10px;
    background-color: var(--always-white);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
   
}

.sidenav a{
    font-weight: 350;
    font-size: 1.1rem;
    text-decoration: none;
    display: flex;
    justify-content:flex-start;
    padding: .5rem;
    margin: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}



.sidenav .closebtn {
    font-size: 36px;
    display: flex;
    justify-content: flex-end;
    color: var(--bs-blue);
    margin-right: 1rem;
    margin-top: 1rem;
}


.sidenav .logout {
    border-top: 1px solid var(--fds-gray-20);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.sidenav .home{
    border-bottom: 1px solid var(--fds-gray-20);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0;
    padding: 0;
   cursor: unset;
    
}

a:visited{
    color: black;
}
.sidenav .logout:visited{
    color:black;
}
.sidenav .logout span,.sidenav .home span{
    padding-top: .2rem;
    margin-left: .5rem;
    font-size: .9rem;
    color:var(--bs-blue);
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.home span{
   color:rgb(5, 184, 145)!important;
}
.closebtn:hover {
    background: transparent !important;
}
#main {
    transition: margin-left 0.5s;
    padding: 16px;
}

.tabcontent {
    background-color: var(--always-white);
    border-radius: 10px;
    margin: auto;
    display: none;
}

article {
    user-select: none;
    border-radius: 16px;
    padding: 1rem;
    border-radius: 16px;
    height: 100%;
    background-color: var(--always-white);
    grid-area: article;
    
}
.darkmode--activated article {
    background-color: var(--always-white) !important;
}
aside{
   
    width: 100%;
    grid-area: Faliujsag;
    
}
.container {
    width: 100%;
    background-color: var(--fds-gray-05);
    border-radius: 10px;
    padding: 0!important;
    margin: 0!important;
    height: fit-content;
    display: grid;
    grid-template-areas: 
    "Faliujsag article article"
    "Nemerekra article article";
    gap:2rem;
}
.beosztas-container{
    display: grid;
    grid-template-columns: 100%;
    height: 100%;
}

#Beosztas{
    min-height: 100%;
    grid-area: Beosztas;
    width: 100%;
    margin: auto;
       
}
.BeosztasTabla{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
   
   
}
.BeosztasTabla .sor .jelol{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: auto;
    
}

.focus{
    background-color: var(--fds-blue-60)!important;
    color:var(--always-white);
    text-indent: 10px;
    border: none!important;
}

.BeosztasTabla .sor{
    background-color: var(--always-white);
    border-bottom: 1px solid var(--fds-gray-20);
    border-right: 1px solid var(--fds-gray-20);
    display: grid;
    grid-template-columns: min-content 25%;
    gap: 1rem;
    
}

.BeosztasTabla .sor .ido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:.5rem;
    border-right: 1px solid var(--fds-gray-20);
    
    border-left: 1px solid var(--fds-gray-20);
    padding: 1rem;
    width: 100px;
 
}


.Datumok{
    display: flex;
    flex-direction: row;
    
    margin: 0;
    padding: 0;
   
}
.Datumok li:hover{
    background-color: var(--fds-highlight-cell-background);

}
.Datumok li{
   
    display: flex;
    padding: 1rem;
    list-style-type: none;
    border:1px solid var(--fds-gray-10);
    cursor: pointer;
    width: 100%;
    background-color: var(--always-white);
    cursor: pointer;
    border-bottom: 1px solid var(--fds-gray-20);
    font-weight: 400;
    font-size: 1.1rem;
    justify-content: center;
}
.container aside .posts {
    
  
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    
    background-color: var(--always-white);
    
    display: flex;
    flex-direction: column;
    gap: .5rem;
    
}


.post {
    margin-top: 0.5rem;
    width: 100%;
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 1rem;
    border-radius: 10px;
    gap:1rem;

}
.post img{
    width: 50px;
    border-radius: 10px;
    
}
.posts h1 {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid var(--fds-gray-20);
    width: 100%;
    font-size: 1.2rem;
    text-align: left;
    font-weight: lighter;
    border-bottom: 1px solid var(--fds-gray-20);
}
.post-img {
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
}
.post-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.post-info {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 16px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    z-index: 5;
    user-select: none;
    width: 50rem;
    min-height: 20rem;
    padding: 1rem;
}
.post-info h3 {
    padding-top: 3rem;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid var(--bs-teal);
    width: 50%;
    text-align: center;
    margin: auto;
}

.post-info-user-data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    gap: 2rem;
}
.post-info-user-data p {
    text-align: justify;
    line-height: 1.5;
    padding: 1rem;
    font-size: 1.1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: var(--fds-spectrum-teal-tint-90);
    border-radius: 10px;
}
.post-info-user-data section {
    position: relative;
    left: 1rem;
    padding: 1rem;
    background-color: var(--bs-teal);
    color: white;
    font-style: italic;
    width: 250px;
    border-radius: 10px;
}
.container article .info div {
    text-align: justify;
}

/* Footer */
.label {
    background: var(--fds-highlight-cell-background);
    font-weight: 500;
    transform: translateY(60%);
    color: var(--fds-spectrum-teal-dark-2);
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    padding: 1.5rem;
    text-align: center;
}
/*!------------!*/
/* Footer vége */

.post {

   
    user-select: none;
  
    color: var(--fds-primary-text);
}

.post p {
    background-color: white;
    font-weight: lighter;
    text-align: justify;
    display: block;
    display: none;
}
.post h3 {
    
    font-weight: 350;
    font-size: 1.05rem;
    width: fit-content;
}


.closeinfo {
    display: block;
    font-size: 2rem;
    padding: 0.3rem;
    border-radius: 0.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    background: none;
}
.close--title {
    display: grid;
    grid-template-columns: auto 10%;
}

.compact-mode {
    font-size: 15px;
}

#AlkalmazottakTabla {
    max-width: 100%;
    width: 1200px;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
    font-weight: lighter;
}

#AlkalmazottakTabla tr:nth-child(even) {
    background-color: rgb(24, 206, 167, 0.1);
}

.foTabla {
    background-color: transparent !important;
}

.hoveredTabla {
    background-color: rgb(24, 206, 167, 0.6) !important;
}

#AlkalmazottakTabla tr:nth-child(1) {
    background-color: transparent;
}

#AlkalmazottakTabla th {
    border-collapse: 10px;
    padding: 10px;
}

#Alkalmazottak .ujAlkalmazott {
    background-color: rgb(24, 206, 167, 0.4);
    padding: 7px;
    border-radius: 100px;
    color: rgba(0, 0, 0, 0.9);
}

#Alkalmazottak .dropdown-content {
    box-shadow: black;
    position: fixed;
    color: black;
    padding: 5px;
    font-size: 1.1rem;
    background: rgba(255, 255, 255, 1);
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    list-style-type: none;
}

#Alkalmazottak .dropdown-content a {
    text-decoration: none;
    color: black;
}

#Alkalmazottak .dropdown-content a:hover {
    color: rgb(24, 206, 167);
}

#Alkalmazottak .dropdown-content li {
    padding: 5px;
}

.tablaDropdown {
    display: none;
}

#Nemerekra {
    grid-area: Nemerekra;
   justify-content: space-between;
    
}

#Nemerekra #napok {
    text-align: center;
}

#Nemerekra .lapoz {
    display: none;
    padding: 1.5rem;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(24, 206, 167, 0.1);
    border-radius: 5px;
}

#Nemerekra #nemerekraMenu {
    background: rgba(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    display: grid;
    width: 200px;
    grid-template-columns: 1fr;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: lighter;
}

#Nemerekra .lapoz .muszakSzam {
    padding: 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    height: 200px;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
}
.muszakSzam:hover {
    transition: 0.3s;
    background: rgba(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
#Nemerekra .gombok {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
}

#Nemerekra .gombok div:hover {
    transition: 0.7s;
    background-color: rgb(24, 206, 167, 0.7) !important;
}

#Nemerekra #kovetkezoNap,
#Nemerekra #elozoNap {
    background: rgba(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    text-align: center;
}

.aktdatum,
#datum {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255);
    border-radius: 16px;

    padding: 1rem;
    text-align: center;
}
.aktdatum {
    background-color: rgb(24, 206, 167);
}
.dates {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
}
.dates p {
    width: 200px;
}

.kijeloltNemErekRa {
    color: rgb(0, 0, 0, 0.2);
    text-decoration: line-through;
}

/* PAGINATION*/
#navigacio{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
}

#navigacio button{
    border: none;
    background-color: var(--bs-blue);
    color:var(--always-white);
    margin-top:1rem;
    width: 100%;
    height: 2rem;
    text-justify: auto;
    cursor: pointer;
  }

#eloreLepeget {
    border-bottom-right-radius: 10px;
}

#hatraLepeget {
    border-bottom-left-radius: 10px;
}

#navigacio button:hover{
    color:lightblue;
}

/*###########FALIUJSAG#########*/
#Faliujsag #fu {
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid var(--fds-gray-20);
    width: 100%;  
}
#Faliujsag {
    background-color: transparent;
    box-shadow: none;
  
}
.post-title{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: center;
    width: fit-content;
    border-end-end-radius: 10px;
    margin-top: 1rem;
    color:var(--fds-primary-text);
    font-weight: 400;
    width:35rem;
    background-color: var(--always-white);

  }
  .post-title h3{
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }
.faliujsag-container
  {
  
      width: 100%;
      
      border-collapse: collapse;
  }
  .faliujsag-container tr{
     
    margin: auto;
    margin-top: 1rem;
  }
  .faliujsag-container th{
    background-color: var(--fds-highlight-cell-background);
  }
  .faliujsag-container td{
    text-align: left;
    padding: 1rem;
     
  }
  .faliujsag-container img{
    width: 70px;
    height: 100%;
    border-radius: 50%;
  }
  .faliujsag-container td{
    text-align: left;
    padding: 1rem;
     
  }
  .faliujsag-container img{
    width: 70px;
    height: 100%;
    border-radius: 50%;
  }
  .details{
    margin-left: auto;
    
  }
  textarea {
    resize: none;
  }
  .showmuszak,.details{
    color:#2c7be3;
    font-weight: 450;
   
  }
.post-content {
    display: none;
    margin-left: 2rem;
    display: flex;
    margin-left: 2rem;
    align-items: center;
    width: fit-content;
    border-end-end-radius: 10px;
    margin-top: 1rem;
    color: var(--fds-primary-text);
    font-weight: 400;
    width: 35rem;    
  }
  .post-content-text-input{
    width: fit-content;
    height: 25rem;
    padding: 1rem;
    text-align: justify;
    line-height: 1.5;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
  }
  .edit-faliujsagm{
    background-color: #77a7ff;
    color:white;
  }
  .cancel-faliujsagm{

  }
  .post-content-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
  }
  .post-content-buttons button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    background-color: transparent;
    

  }
  .post-content-nobuttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }
  .post-content-buttons .post-content-text h4{
    text-align: center;
  }
  
  .post-content .post-content-text {
    text-align: justify;
    line-height: 1.5;
    background-color: var(--always-white);
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--fds-gray-20);
  }
  .post-content h3 {
    padding: 1rem;

  }
  .post-content .fa-times{
    color:var(--fds-red-55);
  }
  .post-content .fa-check{
    color:var(--fds-green-55);
  }
  .post-content h4{
    display: flex;
    justify-content: center;
    align-items: center;
  }
#newpost {
  
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border:none!important;
    margin: auto;
    background-color: var(--fds-blue-60);
    color:var(--always-white);
    border-radius: 10px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}


#Faliujsag fieldset {
    width: 90%;
    border-radius: 10px;
    background:transparent;
    border: none;
    padding: 1rem;
    /*box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;*/
    margin: auto;
    display: none;
}

#Faliujsag fieldset legend {
    
}
#Faliujsag fieldset label {
    color: var(--fds-button-text);
    padding: .5rem;
    line-height: 1.2;

}
#Faliujsag fieldset .fa-check {
    color:var(--fds-green-55);
}
#Faliujsag fieldset .fa-times {
    color:var(--fds-red-55);
}

#Faliujsag fieldset .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
#Faliujsag fieldset .buttons button {
   border-radius: 10px;
   background: var(--always-white)!important;
   border: none;
   padding: 1rem;
   box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.form-grid {
  display: flex;
  margin-bottom: 1rem;

}

#newpost-form{
    display: grid;

}
#newpost-cim{
    margin-top: 1rem;
}
.form-grid input,.form-grid textarea {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top:.5rem;
    padding-bottom: .5rem;
    line-height: 1.3;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    
}

.tabcontent > h3,
h1 {
    width: fit-content;
    margin: auto;
    padding: 1rem;
}
#Nemerekra {
    box-shadow: none;
    background-color: transparent;
    display: flex;
    
    width: 100%;
    
    gap:2rem;
}
.timer-datettime {
    padding-left: 1rem;
    padding: 1rem;
    font-weight: lighter;
    border-bottom: 1px solid var(--fds-gray-20);
    background-color: var(--bs-blue);
    color:var(--always-white);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.timer {
    font-size: 2rem;
}
.datettime {
    margin-top: 0.5rem;
}

.datettime-info {
    flex-basis: auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: var(--always-white);
    color: var(--fds-button-text);
    border-radius: 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.dateinfo-massage-grid {

    padding: 1rem;
    font-weight: lighter;
    border-bottom: 1px solid var(--fds-gray-20);
    padding-left: 1rem;
}
.dateinfo {
    font-size: 1.5rem;

    font-weight: 350;
}
.message {
    margin-top: 1rem;
    color: var(--bs-info);
    font-style: italic;
}
.leadva {
    color: var(--bs-success);
    border:none;
}

.tablediv {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, auto);
}
.tablediv div {
    display: flex;
    justify-content: center;
    align-self: center;
    
    margin: 1rem;
}
#selectable .ui-selected {
    background: var(--fds-gray-20);
    color: var(--always-black);
}
.ui-widget-content {
    border: none !important;
}
.dateinfo-muszaktipus {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2rem;
}
.dateinfo-muszaktipus label {
    font-weight: 450;
}
.dateinfo-muszaktipus .nap-inputs input {
    padding: 0.5rem;
    margin: 0.4rem;
}
.dateinfo-muszaktipus div {
    padding: 0.5rem;
    font-size: 1.1rem;
}
.addshadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    background: var(--bs-teal);
    color: white;
    border: 1px solid transparent!important;
}
.naptar {
    width: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    background-color: var(--always-white);
    margin-right: 1rem;
    flex-basis: content;
}
.naptar .honap {
    margin-top: 1rem;
    padding: 1rem;
}

.naptar .datedays {
    display: table-cell;
    padding: .5rem;
    cursor: pointer;
    
}
.naptar .datedays:hover {
    cursor: pointer;
}
.dateinfo-buttons {
    width: 100%;
    border-top: 1px solid var(--fds-gray-20);
    display: flex;
    justify-content: center;
}
.days {
    margin: 0!important;
    padding: .5rem;
    padding-bottom: 1rem;
    width: 100%;
    
  }
.user-send-ok,
.user-send-cancel {
    padding: 0.5rem;
    margin: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: fit-content;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: var(--always-white);
}
.user-send-ok {
    background-color: var(--fds-green-55);
}
.user-send-cancel {
    background-color: var(--fds-red-55);
}
.user-send-ok:hover {
    cursor: pointer;
}
.user-send-cancel:hover {
    cursor: pointer;
}
@media screen and (max-width:1300px) {
    .container{
        grid-template-areas:
        "Faliujsag"
        "article"
        "Nemerekra"
        "Beosztas";
    }
}
@media screen and (max-width:750px) {
        #Nemerekra{
            flex-direction: column;
            width: auto;
        }
        body{
            min-width: 700px;
        }
        .managerinfo{
            width: 700px;
           left:0;
        }
        #mySidenav > a.links.links2{
            border-radius: 10px;
          }
          .sidenav{
            display: block;
            position: static;
            left: 50%;
            top:15%;
            width: 100%;
            margin-bottom: 1rem;
            
        }
        .closebtn{
          display: none!important;
        }
        .arrow{
            display: none!important;
        }
        .openbtn{
            grid-template-columns: 100%;
        }
        .beosztas-container{
            display: grid;
            grid-template-columns: 100%;
        }
        .BeosztasTabla{
            width: 100%;
            max-width: none;
        }
}