* {
    user-select: none;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
:root {
    --base-lemon: #f7b928;
    --fds-black-alpha-05: rgba(0, 0, 0, 0.05);
    --fds-black-alpha-10: rgba(0, 0, 0, 0.1);
    --fds-black-alpha-15: rgba(0, 0, 0, 0.15);
    --fds-black-alpha-20: rgba(0, 0, 0, 0.2);
    --fds-black-alpha-30: rgba(0, 0, 0, 0.3);
    --fds-black-alpha-40: rgba(0, 0, 0, 0.4);
    --fds-black-alpha-50: rgba(0, 0, 0, 0.5);
    --fds-black-alpha-60: rgba(0, 0, 0, 0.6);
    --fds-black-alpha-80: rgba(0, 0, 0, 0.8);
    --fds-blue-05: #ecf3ff;
    --fds-blue-30: #aac9ff;
    --fds-blue-40: #77a7ff;
    --fds-blue-60: #1877f2;
    --fds-blue-70: #2851a3;
    --fds-blue-80: #1d3c78;
    --fds-button-text: #444950;
    --fds-comment-background: #f2f3f5;
    --fds-gray-00: #f5f6f7;
    --fds-gray-05: #f2f3f5;
    --fds-gray-10: #ebedf0;
    --fds-gray-20: #dadde1;
    --fds-gray-25: #ccd0d5;
    --fds-gray-30: #bec3c9;
    --fds-gray-45: #8d949e;
    --fds-gray-70: #606770;
    --fds-gray-80: #444950;
    --fds-gray-90: #303338;
    --fds-gray-100: #1c1e21;
    --fds-green-55: #00a400;
    --fds-highlight-cell-background: #ecf3ff;
    --fds-primary-icon: #1c1e21;
    --fds-primary-text: #1c1e21;
    --fds-red-55: #fa383e;
    --fds-soft: cubic-bezier(0.08, 0.52, 0.52, 1);
    --fds-spectrum-aluminum-tint-70: #e4f0f6;
    --fds-spectrum-blue-gray-tint-70: #cfd1d5;
    --fds-spectrum-cherry: #f35369;
    --fds-spectrum-lime: #a3ce71;
    --fds-spectrum-seafoam-tint-70: #caeef9;
    --fds-spectrum-slate-dark-2: #89a1ac;
    --fds-spectrum-slate-tint-70: #eaeff2;
    --fds-spectrum-teal: #6bcebb;
    --fds-spectrum-teal-dark-1: #4dbba6;
    --fds-spectrum-teal-dark-2: #31a38d;
    --fds-spectrum-teal-tint-70: #d2f0ea;
    --fds-spectrum-teal-tint-90: #f0faf8;
    --fds-spectrum-tomato: #fb724b;
    --fds-spectrum-tomato-tint-30: #f38e7b;
    --fds-spectrum-tomato-tint-90: #fdefed;
    --always-white: #ffffff;
    --always-black: black;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #f33155;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #7ace4c;
    --bs-teal: #20c997;
    --bs-cyan: #4fc3f7;
    --bs-white: #fff;
    --bs-gray: #8898aa;
    --bs-gray-dark: #313131;
    --bs-primary: #707cd2;
    --bs-secondary: #8898aa;
    --bs-success: #7ace4c;
    --bs-info: #2cabe3;
    --bs-warning: #ffc36d;
    --bs-danger: #f33155;
    --bs-light: #f7fafc;
    --bs-dark: #313131;
    --bs-cyan: #4fc3f7;
    --bs-orange: #ffc36d;
    --bs-purple: #707cd2;
    --bs-inverse: #4c5667;
}
.tabcontent {
    color: black;
    visibility: hidden;
    width: 100%;

    margin: auto;
}
.adminheader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1.2rem;
    height: fit-content;
    border-bottom: 1px solid var(--fds-gray-20);
    background-color: var(--always-white);
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.desc {
    padding-top: 1rem;
    font-family: "Montserrat", sans-serif;

    font-weight: 600;
}
.stat1 {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
        rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 10px;
}
.stat1value,
.stat2value,
.stat3value,
.stat4value {
    font-weight: 600;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    color: var(--fds-gray-70);
    width: 100%;
}
.fa-users {
    color: var(--fds-blue-60);
}
.fa-child {
    color: var(--fds-blue-60);
}
.fa-bullhorn {
    color: var(--fds-blue-60);
}
.fa-sign-in-alt {
    color: var(--fds-blue-60);
}
.ujmezo fieldset {
    margin: 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
        rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    background-color: var(--always-white);
}
.ujmezo legend {
    background-color: var(--fds-blue-60);
    color: var(--always-white);
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
}

.stat4 {
    border-radius: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
        rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.stat3 {
    border-radius: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
        rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.stat2 {
    border-radius: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
        rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}
.box div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.allusers {
    padding: 0.5rem;
    display: flex;
    flex-direction: r;
    justify-content: space-between;
}
.box-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.admin-container {
    display: flex;
    flex-direction: column;
}

.admin-article {
    display: block;
    width: 100%;
}
aside {
    text-align: center;
    display: flex;
    background-color: var(--always-white);
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--fds-gray-20);

    color: var(--fds-button-text);
}
body {
    background-color: var(--fds-gray-05);
}
.admininfo {
    margin:auto;
    text-align: center;
}
.admininfo h4 {
    display: flex;
    border-bottom: 1px solid var(--fds-gray-20);
    flex-direction: column;
    font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}
article {
    max-height: 80vh;

    overflow-x: auto;
}
article h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    color: var(--fds-blue-60);
    margin-left: 1rem;
    font-weight: 650;
    display: none;
}
nav {
    
}
nav ul {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.admininfo-admin-text {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}
article table {
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    overflow: scroll;
    background-color: var(--always-white);
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

article table tr,
td {
    padding: 1rem;
    text-align: center;
}

article table tr {
    border-bottom: 1px solid var(--fds-gray-20);
}
article table tr:hover {
    background-color: var(--fds-highlight-cell-background);
}
.fa-ban,
.fa-times {
    color: var(--fds-red-55);
}
.fa-check {
    color: var(--fds-green-55);
}
.admin-new-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
article table button,
.uj,
.admin-new-buttons button {
    cursor: pointer;
    background-color: var(--always-white);
    padding: 0.5rem;
    border: none;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
        rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.label-input {
    display: table-row;
}
.label-input > * {
    display: table-cell;
}
.uj {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.mod {
    background-color: var(--fds-highlight-cell-background);
}
.mod td {
    text-align: center;
}
article input {
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px,
        rgb(0 0 0 / 8%) 0px 0px 0px 1px;
    border-radius: 10px;

    margin: 1rem;
    border: none;
    outline: none;
    padding: 0.5rem;
}
.fejlec {
    background-color: var(--fds-blue-05);
    color: var(--fds-primary-text);
    font-weight: 650;
    font-size: 1.1rem;
    padding: 0.5rem;
    width: 100%;
    margin-top: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px,
        rgb(0 0 0 / 8%) 0px 0px 0px 1px;
}
.logout {
    font-size: 1rem;
    border-radius: 10px;
    padding: 0.5rem;
}
.logout a {
    text-decoration: none;
}
.logout span {
    text-decoration: none;
    color: var(--fds-button-text);
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}
.search {
    padding: 1rem;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    margin: auto;
    display: block;
    margin-left: 1rem;
    margin-top: 1rem;
}
.search:active,
.search:focus {
    outline: none;
}
nav ul li {
    display: inline;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    margin-right: 2rem;
    padding: 0.5rem;
}
.ujmezo input[type="date"] {
    min-width: 10vw;
}

body {
    display: grid;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100%;
    overflow: auto;
    max-width: 100vw;
}

.tablaAdatok, .navigacio-grid {
    display:flex;
    align-items: center;
    gap: 1.5rem;
}

.tablaAdatok {
    justify-content: space-between;
    padding-left:1.5rem;
    padding-right: 1.5rem;
}

.tablaAdatok #navigacio button{
    border: none;
    background-color: var(--bs-blue);
    padding: 1rem;
    color:var(--always-white);
    border-radius: 10px;
    margin-left: 0.3rem;
  }
  .tablaAdatok #navigacio button:hover{
    background-color: var(--always-white);
    color:var(--fds-button-text);
  }

@media screen and (max-width: 1400px) {
    .adminheader {
        align-items: unset;
        justify-content: center;
        overflow: hidden;
    }
    body {
        flex-direction: column;
    }
    .stat1value,
    .stat2value,
    .stat3value,
    .stat4value {
        width: fit-content;
        margin-left: auto;
    }
}
@media screen and (max-width: 1000px) {
    .adminheader {
        flex-direction: column;
        width: 100%;
        align-items: unset;
        justify-content: unset;
        width: auto;
        gap: 0rem;
        padding: 1rem;
        margin: 0;
    }
    .box {
        display: grid;
        grid-template-columns: repeat(2, auto);
        margin: 0%;

        box-shadow: none;
        flex-direction: row;
        border-bottom: 1px solid var(--fds-blue-60);
        border-radius: 0px;
        gap: 0;
        justify-content: unset;
        padding: 0.5rem;
    }
    .box div {
        display: inline;
    }
}
